@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

html    {
    box-sizing: border-box;
}

*, *::before, *::after  {
    box-sizing: inherit;
}

:root   {
   --base: #000;
   --level-1: #181823;
   --lgrey: #deecf9;
   --dgrey: #c7e0f4;
   --text: #fff;
   --primary: #5221e6;
   --customgreen: #3cc74e;
   --customblue: #609bff;
   --custompink: #e95d90;
   --custompeach: #fff3e4;
   --customviolet: #fbe4ff;
}

body {
    position: relative;
    min-width: 320px;
    font-family: "Sen", sans-serif;
    color: var(--text);
    background-color: var(--base);
}

a   {
    color: inherit;
    text-decoration: none;
    outline: none;
}


button  {
    outline: none;
    flex: 0;
}

img {
    width: 100%;
}


.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text   {
    font-size: 16px;
}

/*------------------------header------------------------*/
.header {
    position: relative;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-brand   {
    display: inline-block;
    padding: 24px;
    /*padding: 32px 24px;*/
}


.header__link {
    /*display: block;*/
    padding: 24px;
    /*padding: 32px 24px;*/
    width: 100%;
    height: 100%;
   font-size: 16px;
   font-weight: 400;
   color: var(--text) !important;
    transition: background-color 0.3s ease-in-out;
} 

.header__link:hover {
    background-color: var(--primary);
}



/*------------------------hero------------------------*/

.hero   {
    position: relative;
    padding-top: 300px;
    padding-bottom: 225px;
   background-color: var(--level-1);
   background: 
   url("../img/hero-image.png") center left/1050px 750px no-repeat,
   url("../img/hero-rect.png") top right/70% 100% no-repeat
   ;
   
}

.title  {
    font-weight: 700;
}

.hero__title    {
    margin-bottom: 32px;
    font-size: 78px;
    line-height: 93.84px;
}

.hero__span {
    color: rgba(255, 255, 255, .5);
}

.hero__descr    {
    font-size: 18px;
    line-height: 27px;
}


/*------------------------experience------------------------*/

.experience {
   padding-top: 120px;
   padding-bottom: 114px; 
}

.experience__title  {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--lgrey);
}

.experience__descr  {
    width: 70%;
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 700;
}

.experience__number {
    font-size: 117px;
    color: var(--dgrey);
}

.experience-item__title {
    margin-bottom: 22px;
    font-size: 24px;
}

.experience__green  {
    color: var(--customgreen);
}

.experience__blue   {
    color: var(--customblue);
}

.experience__pink   {
    color: var(--custompink);
}

.experience__text   {
    line-height: 24px;
    color: var(--lgrey);
}




.project {
    column-count: 2;
    column-gap: 10px;
  }
  
  .project-item {
    margin-bottom: 10px;
    break-inside: avoid;
    border: 1px solid #5221e6;
  }

  .project-item_first, .project-item_last   {
    justify-content: center;
    align-items: center;
  }
  
  .project-item img {
    width: 100%;
    display: block;
    
  }

  .project-item_first, .project-item_last{
    height: 100px;
  }

figure  {
    width: 100%;
}

.tab    {
    width: 100%;
}

.tab-btn    {
 padding: 15px 15px;
 border-radius: 0;
 font-weight: 700;
 text-transform: uppercase;
 color: aliceblue;
 background-color: black;
 border-color: aliceblue;
cursor: pointer;
}

.tab-btn-active {
    background-color: #5221e6;
  }

  .tab-pane:not(.tab-pane-show) {
    display: none;
  }

  .contact__form    {
    flex-direction: column;
  }


/*---readmore---*/

#more {display: none;}

#moreBtn    {
  display: block;
  padding: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: aliceblue;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid aliceblue; 
  cursor: pointer; 
}
